{% extends "base.html" %}

{% block content %}

<div class='col-sm-6 col-sm-offset-3'>
    <h2>Rss feeds list</h2>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Author</th>
                <th>Created</th>
                <th>Image</th>
             </tr>
        </thead>
        <tbody>
            {% for feed in feed_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ feed.title }}</td>
                    <td>{{ feed.author }}</td>
                    <td>{{ feed.created }}</td>
                    <td><img src="{{ feed.image_url }}"/></td>
                 </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}
