{% extends "base.html" %}

{% block content %}

<div class="pagination">
    <span class="page-links">
        {% if page_obj.has_previous %}
            <a href="/feeds?page={{ page_obj.previous_page_number }}">Back</a>
        {% endif %}
        <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="/feeds?page={{ page_obj.next_page_number }}">Forward</a>
        {% endif %}
     </span>
</div>

<div class='col-sm-6 col-sm-offset-3'>
    <h2>List of feeds</h2>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Author</th>
                <th>Created</th>
                <th>Image</th>
             </tr>
        </thead>
        <tbody>
            {% for feed in feed_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ feed.title }}</td>
                    <td>{{ feed.author }}</td>
                    <td>{{ feed.created }}</td>
                    <td><img src="{{ feed.image_url }}"/></td>
                    <td><a href="{% url 'feed' feed.id  %}">details</td>
                 </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}
